@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="p-3 mb-2 bg-secondary bg-opacity-10">
                <div class="p-3 mb-2 bg-secondary bg-opacity-10 text-center">
                    Recente toegevoegde stripboeken
                </div>
                @foreach (var recentlyAddedComicBook in Model.RecentlyAddedComicBooks) {
                    string cover = recentlyAddedComicBook.cover;
                    @if (string.IsNullOrEmpty(cover)) {
                        recentlyAddedComicBook.cover = "https://cutt.ly/QDxYZlD";
                    }
                    <div class="card" style="">
                        <div class="row g-0">
                            <div class="col-sm-4">
                                <img src="@recentlyAddedComicBook.cover" class="img-fluid rounded-start" alt="@recentlyAddedComicBook.cover">
                            </div>
                            <div class="col-sm">
                                <div class="card-body">
                                    <h5 class="card-title">@recentlyAddedComicBook.title</h5>
                                    <p class="card-text">Auteur(s):</p>
                                    <p class="card-text">ISBN: @recentlyAddedComicBook.isbn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 mb-2 bg-secondary bg-opacity-10">
                <div class="p-3 mb-2 bg-secondary bg-opacity-10 text-center">
                    Recent nieuws
                </div>
            </div>
            <div class="p-3 mb-2 bg-secondary bg-opacity-10">
                <div class="p-3 mb-4 bg-secondary bg-opacity-10 text-center">
                    Leuke weetjes
                </div>
            </div>
        </div>
    </div>
</div>